# Datos crudos - no subir a GitHub (archivos pesados)
data/raw/

# Datos procesados
data/processed/

# Entornos virtuales
.venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Variables de entorno
.env

# Variables de entorno con credenciales
.env